<form method='post' action='/new'>
  <p>Name: <input type='name' name='name'></p>
  <p>Breed: <input type='breed' name='breed'></p>
  <p>Age: <input type='age' name='age'></p>
  <p><input type="submit" value="submit"></p>
</form>
